#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-sendingaccount {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Destinationaccount {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Payment {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Recipient {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Import {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-sendingaccount_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-ShowMore_butt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-ShowLess_Butt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-CONCEPT {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-IMPORT {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-DATE {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-RectangleCopy_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-CurrentAccount_4422_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Shape_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Allmovements {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-MyAccounts_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-modal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}