#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-container > .valign {
  vertical-align: top;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-All {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-All > .valign {
  vertical-align: top;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Row_cell_1 {
  position: relative;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Row_cell_2 {
  position: relative;
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5FBFD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5FBFD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5FBFD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5FBFD;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-sendingaccount {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Destinationaccount {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Payment {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Recipient {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Date {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-Import {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-accMovements .s-sendingaccount_1 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-ShowMore_butt {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E2E2E2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E2E2E2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E2E2E2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E2E2E2;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-ShowLess_Butt {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E2E2E2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E2E2E2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E2E2E2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E2E2E2;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-CONCEPT {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-IMPORT {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_3 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_3 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-DATE {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-RectangleCopy_20 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-CurrentAccount_4422_3 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Shape_7 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Allmovements {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-MyAccounts_2 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDA27E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDA27E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDA27E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDA27E;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-modal {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F0F0F0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F0F0F0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F0F0F0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F0F0F0;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_1 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_1 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_2 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 #s-Line_2 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-07eca82d-78e9-497b-9ad3-45de8abe1161 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}