#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-RecentActivity {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_1 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_2 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_3 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_4 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_8 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-LIKESGRAPH {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_6 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_7 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_8 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_9 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_10 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-point {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-May {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Apr {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Apr_1 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Mar {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Mar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_9 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-CombinedShape {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Shape_10 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-DAYWEEK_MONTH_YEAR {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_10 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Expensesreport {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Operations_1 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Amount {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_37 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_37 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_38 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_38 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_39 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_39 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_40 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_40 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-RecentActivity_1 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_41 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_41 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(327.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(327.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_11 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_11 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_12 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_12 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_14 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(331.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_14 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(331.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_39 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_77 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5877FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5877FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5877FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5877FF;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_78 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_79 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5247A7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5247A7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5247A7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5247A7;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_80 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_19 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(90.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_19 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(90.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_20 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_20 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_21 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_21 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_22 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_22 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_23 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_23 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_24 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_24 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_25 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_25 {
  stroke-width: 1px;
  stroke: #8995B2;
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_81 {
  -ms-transform: rotate(0.0deg);
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}