#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-RecentActivity {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-LIKESGRAPH {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-line_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-point {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-May {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Apr {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Apr_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Mar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Mar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-CombinedShape {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Shape_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-DAYWEEK_MONTH_YEAR {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Expensesreport {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Operations_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Amount {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_38 {
  rotation: 90.0;
  margin-left: 31px;
  margin-top: -32px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_40 {
  rotation: 90.0;
  margin-left: 242px;
  margin-top: -243px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-RecentActivity_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_1 {
  rotation: 327.0;
  margin-left: 2px;
  margin-top: -10px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_14 {
  rotation: 331.0;
  margin-left: 1px;
  margin-top: -9px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_39 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_19 {
  rotation: 90.0;
  margin-left: 122px;
  margin-top: -123px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb #s-Paragraph_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-847dd8d3-2b89-4c80-a595-8135e57e47eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}