#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-BG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Choosean__origin_account {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Choose_a_destination_account_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Transfer_data_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-MyAccounts_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_1 {
  rotation: 90.0;
  margin-left: 31px;
  margin-top: -32px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_2 {
  rotation: 90.0;
  margin-left: 249px;
  margin-top: -250px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_3 {
  rotation: 45.0;
  margin-left: 2px;
  margin-top: -8px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_4 {
  rotation: 315.0;
  margin-left: 2px;
  margin-top: -8px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_5 {
  rotation: 90.0;
  margin-left: 31px;
  margin-top: -32px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_6 {
  rotation: 90.0;
  margin-left: 249px;
  margin-top: -250px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_7 {
  rotation: 45.0;
  margin-left: 2px;
  margin-top: -8px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Line_8 {
  rotation: 315.0;
  margin-left: 2px;
  margin-top: -8px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-CurrentAccount_4422_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-SavingsAccount_4422_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-ChristopherAccount_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Fill_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Selectother_account_Copy_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-icono {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-NEWACCOUNT_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-CurrentAccount_4422_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-SavingsAccount_4422_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-ChristopherAccount_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Fill_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Selectother_account_Copy_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Clip_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Fill_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-NEWACCOUNT_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Nameand_Surname_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Nameand_Surname_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-continue_butt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Fill_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Selectother_account_Copy_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Import_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-make_transfer_butt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-noActive_step2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=73) ;
  filter: alpha(opacity=73) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-noActive_step3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=73) ;
  filter: alpha(opacity=73) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-855c0d03-be22-405c-a3e3-1d84a7289207 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}