#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Spacer {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-RecentActivity {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_1 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_2 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_3 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_4 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_8 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-LIKESGRAPH {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_6 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_7 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_8 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_9 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-line_10 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-point {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-May {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Apr {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Apr_1 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Mar {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Mar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_9 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-CombinedShape {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Shape_10 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-DAYWEEK_MONTH_YEAR {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_10 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Expensesreport {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Mask_6 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-SanFrancisco_-_USA {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-UserSettings {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-JaneDoe {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Operations_1 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Amount {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-MyAccounts_2 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDA27E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDA27E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDA27E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDA27E;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_36 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_36 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_37 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_37 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_38 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_38 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_39 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_39 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Other_Operations_Subtil {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Info {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Info > .valign {
  vertical-align: top;
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Panel_CL {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_Minus_2 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_35 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_36 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDA27E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDA27E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDA27E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDA27E;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Panel_TF {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_Minus_3 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDA27E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDA27E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDA27E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDA27E;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-ChrisAccount_detail {
  border-collapse: separate;
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_17 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_17 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_15 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_15 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_16 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_16 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-RectangleCopy_2_9 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-SavingsAccount_4422_3 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-AvailableCopy {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_7 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_7 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_11 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_11 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-RectangleCopy_21 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-CurrentAccount_4422_4 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Available {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_5 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_5 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_6 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Line_6 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(90.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-993d5081-ce5b-42bd-9a93-4c8daca4fbbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}