#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Bg {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4696E7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4696E7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4696E7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4696E7;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e #s-MyAccounts_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe7ed4c-7bd7-4337-a88b-989aa13e631e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}