#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#19BDD3);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Shape_11 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Drop_trigger {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_1 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_1 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  stroke-width: 1px;
  stroke: #E2E2E2;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}