#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 768px;
  margin: 0 auto;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 {
  position: absolute;
  width: 1281px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 > .paddingLayer {
  height: 100px;
  width: 1281px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 span#rtr-t-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Dynamic_Panel_1 {
  position: absolute;
  z-index: 100;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_1 {
  width: 1280px;
  height: 267px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 267px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_1 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 {
  position: absolute;
  width: 1280px;
  height: 229px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 > .paddingLayer {
  height: 229px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 span#rtr-t-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#FFFFFF,#19BDD3);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#19BDD3);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#19BDD3));
  background-image: -o-linear-gradient(top,#FFFFFF,#19BDD3);
  background-image: linear-gradient(to bottom,#FFFFFF,#19BDD3);
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  position: absolute;
  width: 1280px;
  height: 160px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 > .paddingLayer {
  height: 160px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Shape_11 > svg {
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Shape_11 {
  position: absolute;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Shape_11 > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Shape_11 > svg {
  height: 64px;
  width: 64px;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 {
  position: absolute;
  width: 199px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 > .paddingLayer {
  height: 18px;
  width: 199px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 span {
  color: #FFFEFE;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 span#rtr-t-Friday_5_0 {
  color: #FFFEFE;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 {
  position: absolute;
  width: 245px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 > .paddingLayer {
  height: 24px;
  width: 245px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 span#rtr-t-Welcomeback_Jane_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 span#rtr-t-Welcomeback_Jane_5_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Drop_trigger > svg {
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Drop_trigger {
  position: absolute;
  width: 12px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Drop_trigger > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Drop_trigger > svg {
  height: 6px;
  width: 12px;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu {
  position: absolute;
  width: 149px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu > .paddingLayer {
  height: 24px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu span {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu span#rtr-t-MyAccounts_menu_0 {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu span#rtr-t-MyAccounts_menu_1 {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu {
  position: absolute;
  width: 100px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu > .paddingLayer {
  height: 24px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu span {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu span#rtr-t-Notifications_menu_0 {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu {
  position: absolute;
  width: 97px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu > .paddingLayer {
  height: 24px;
  width: 97px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu span {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu span#rtr-t-Conversations_menu_0 {
  color: #FFB187;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Total_SV_Top {
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 {
  width: 180px;
  height: 58px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 180px;
  height: 58px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 {
  position: absolute;
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 span#rtr-t-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 {
  position: absolute;
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 span#rtr-t-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 {
  position: absolute;
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 span#rtr-t-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Total_CA_Top {
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 {
  width: 180px;
  height: 58px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 180px;
  height: 58px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 {
  position: absolute;
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 span#rtr-t-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 {
  position: absolute;
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 span#rtr-t-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 {
  position: absolute;
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 span#rtr-t-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Dropdownmovements {
  position: absolute;
  width: 197px;
  height: 174px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0px 8px 10px 0px #CCCCCC;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 {
  position: absolute;
  width: 197px;
  height: 174px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 > .paddingLayer {
  height: 172px;
  width: 195px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 span#rtr-t-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 {
  position: absolute;
  width: 197px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 > .paddingLayer {
  height: 35px;
  width: 177px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Line_1 marker {
  fill: #E2E2E2;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Line_1 {
  position: absolute;
  width: 152px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_1 {
  width: 152px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #E2E2E2;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 {
  position: absolute;
  width: 197px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 > .paddingLayer {
  height: 35px;
  width: 177px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Line_2 marker {
  fill: #E2E2E2;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Line_2 {
  position: absolute;
  width: 152px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  width: 152px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #E2E2E2;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 {
  position: absolute;
  width: 197px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 > .paddingLayer {
  height: 35px;
  width: 177px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Group_1 {
  position: absolute;
  width: 209px;
  height: 66px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  position: absolute;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 > svg {
  height: 66px;
  width: 209px;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Hotspot_1 {
  position: absolute;
  width: 209px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Hotspot_1 > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Hotspot_1 > svg {
  height: 65px;
  width: 209px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}