#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Shape_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Friday_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Welcomeback_Jane_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Drop_trigger {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-MyAccounts_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notifications_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Conversations_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}